.banner {
    background-image: url('../../Image/Banner.png');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 577px;
    color: white;
}
.banner-items {
    justify-content: start;
    text-align: center;
    width: 40%;
    padding-top: 120px;
    font-size: 28px;
}
.banner-items h2 {
    color: #B0DC00;
    text-align: center;
}
.banner-items span {
    color: #B0DC00;
}
.banner-items button {
    padding: 7px;
    border-radius: 10px;
    border: 2px solid yellow;
    background-color: transparent;
    color: #FFF;
    width: 20%;
}
.Movies-list{
    background-image: url('../../Image/Movie_list_Background.svg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}
@media only screen and (max-width: 576px) {
    .banner-items {
        width: 80%;
        text-align: center;
        color: #fff;
        font-size: 20px;
        margin-left: 20px;
        text-align: center;
    }
    .banner-items button {
        padding: 7px;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 30%;
    }
}
