.trending{
    padding: 60px 0;
    overflow: hidden;
    white-space: nowrap;
}
.trending_Logos{
    display: inline-block;
    animation:40s slide infinite;
    margin-top: 20px;
}
.trending_Logos img{
    height:200px;
    margin: 0 15px;
    border-radius: 10px;
}
.trending:hover .trending_Logos{
    animation-play-state:paused ;
}
.tlt-trending{
    color: white;
    margin-left: 15px;
}

.para-trending{
    color:#B0DC00;
    margin-left: 15px;
}
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-1500%);
    }
    
}